<!DOCTYPE html>
<html lang="es-ES">
	<head>
		<title>PhootShoot | El nuevo manager de futbol online con jugadores reales de todo el mundo</title>

		<meta charset="UTF-8" />
		<meta content="PHUPHA Entertainment" name="author" />
		<meta content="Juego para ser el manager de tu equipo de futbol, fichando jugadores de las ligas más importantes del mundo y donde puedes ganar dinero real" name="description" />
		<meta content="juego,futbol,manager,online,ganar dinero,liga,equipo,comunio,jugar partido" name="keywords" />
		<meta content="width=device-width, initial-scale=1" name="viewport">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />		
	</head>
	<body>
		<section class="container">
			<div class="welcome">
				<h1>My first bootstrap page</h1>
			</div>
			<div class="content">
				<p>This is some text.</p>
			</div>
		</section>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
